/* Provide sufficient contrast against white background */
a {
  color: #daa141;
  font-weight: bolder;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  background-color: #242027;
}