---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

interface Props {
  page: any;
}

export async function getStaticPaths() {
  const secretPages = await getCollection("secret");
  return secretPages.map((page) => ({
    params: { slug: page.slug },
    props: { page },
  }));
}

const { page } = Astro.props;
const { Content } = await page.render();
---

<BaseLayout title={page.data.title}>
  <main
    class="top-0 absolute w-full min-h-screen font-mono text-white text-center bg-circle-gradient from-slate-900 to-black flex flex-col items-center gap-24"
  >
    <warning class="w-full py-2 bg-yellow-500 text-black"
      >You are viewing a secret page. <a class="underline" href="/">Go home.</a
      ></warning
    >
    <article class="prose prose-invert text-left mb-24">
      <h1>{page.data.title}</h1>
      <Content />
    </article>
  </main>
</BaseLayout>
