---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="NootSponge - Not Found">
  <div
    class="bg-gradient-to-r from-[#5a2fc2] to-[#834dc1] text-white flex h-screen w-full items-center justify-center flex-col"
  >
    <span class="text-6xl">
      <b>404</b> PAGE<b>NOT</b>FOUND
    </span>
    <a href="/" class="mt-1 hover:text-[#e7da48]">Go back.</a>
  </div>
</BaseLayout>
