---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PriceCard from "../components/PriceCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style>
  .content-min-h {
    min-height: calc(100vh - 12rem);
  }
</style>

<BaseLayout title="NootSponge - Commissions">
  <main
    class="bg-gradient-to-b from-[#3B2A80] to-[#291e51] text-white w-full flex justify-start items-center flex-col"
  >
    <Header />
    <article class="content-min-h mt-12 w-full flex flex-col items-center">
      <div class="text-center flex flex-col items-center">
        <h1 class="text-4xl font-bold tracking-tight text-[#e7da48] max-w-lg">
          Everyone deserves a place online to call home.
        </h1>
        <p class="mt-6 text-lg leading-8 max-w-xl">
          Websites are a place to express yourself, provide links to your social
          platforms, or can even be a place to sell things. I'm making that easy
          and affordable for everyone.
        </p>
      </div>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="#pricing"
          class="rounded-md bg-[#e7da48] px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-yellow-500 focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-yellow-200"
          >Get started</a
        >
        <a href="#process" class="text-sm font-semibold leading-6 text-white"
          >Learn more <span aria-hidden="true">→</span></a
        >
      </div>
      <div
        id="pricing"
        class="mt-12 rounded-xl bg-gradient-to-br from-slate-800 to-slate-900 border border-slate-700 w-3/4"
      >
        <div class="space-y-4 m-8">
          <div class="">
            <p class="font-bold text-[#e7da48]">Pricing</p>
            <h1 class="text-3xl font-bold tracking-tight">
              Affordable for anyone
            </h1>
          </div>
          <div class="flex flex-row w-full space-x-4">
            <PriceCard tier="Basic" />
            <PriceCard tier="Standard" />
            <PriceCard tier="Premium" />
          </div>
          <p class="text-slate-600">
            Does not include domain cost, or hosting cost for the Advanced plan.
          </p>
        </div>
      </div>
    </article>
    <Footer />
  </main>
</BaseLayout>
