---
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style lang="sass">
  main
    text-align: center
    color: white
    overflow: hidden

    section:first-of-type
      margin-top: 5em

  .wave
    position: absolute
    width: 100vw
    z-index: -1
    overflow: hidden
    fill: #312a32
</style>

<BaseLayout title="nootsponge - software engineer">
  <main>
    <Hero />
    <div class="wave">
      <svg
        version="1.1"
        id="visual"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 960 258"
        xml:space="preserve"
        preserveAspectRatio="none"
      >
        <path
          class="st0"
          d="M0,258.5c0-69,0-138,0-207l20,0.7c20,0.6,60,2,100,18.3s80,47.7,120,51.5s80-19.8,120-39.2
	c40-19.3,80-34.3,120-31.6c40,2.6,80,23,120,20.5s80-27.9,120-14.4s80,65.9,120,62.7s80-61.8,100-91.2l20-29.3c0,86,0,172,0,258
	C640,257.8,320,258.2,0,258.5z"
        ></path>
      </svg>
    </div>
    <section class="scroll">
      <h1 class="glow">this page is in pogress</h1>
    </section>
  </main>
  <footer style="display:none;">more coming soon ;3</footer>
</BaseLayout>

<script>
  import { gsap } from "gsap";

  gsap.matchMedia().add("(prefers-reduced-motion: no-preference)", () => {
    var scrollDuration = 3;

    if (window.scrollY != 0) {
      scrollDuration = 0;
    }

    gsap.to(".wave", {
      opacity: 1,
      translateY: "-=50%",
      duration: scrollDuration,
      ease: "power4.out",
    });

    gsap.to(".scroll", {
      opacity: "+=1",
      translateY: "-=105%",
      duration: 3,
      ease: "power4.out",
    });
  });
</script>
