---
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("nsfw");
  return blogEntries.map((entry) => ({
    params: { page: entry.slug },
    props: { entry },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<style>
  .content-min-h {
    min-height: calc(100vh - 10.5rem);
  }
</style>

<script>
  let cookie = document.cookie;

  if (!cookie.includes("nsfw=true")) {
    window.location.href = "/nsfw";
  }
</script>

<BaseLayout title="NootSponge - NSFW">
  <main
    class="bg-gradient-to-b from-[#3B2A80] to-[#291e51] text-white w-full flex justify-start items-center flex-col"
  >
    <Header />
    <div
      class="w-4/5 md:w-3/5 max-w-none content-min-h mt-6 prose prose-invert prose-sm md:prose-base prose-headings:text-[#e7da48] prose-a:text-[#e7da48]"
    >
      <Content />
    </div>
    <Footer />
  </main>
</BaseLayout>
