---
---

<header
  class="h-16 w-full flex items-center justify-center border-b border-[#e7da48] shadow-xl"
>
  <div class="w-4/5 md:w-3/5 flex items-end justify-start">
    <span
      class="text-xl md:text-3xl font-black transition-colors text-[#e7da48] hover:text-white"
      ><a href="/">NootSponge</a></span
    >
    <div class="ml-10 space-x-2">
      <a
        href="/"
        class="text-md md:text-lg font-light transition-colors text-[#e7da48] hover:text-white"
        >Home</a
      >
      <a
        href="/about"
        class="text-md md:text-lg font-light transition-colors text-[#e7da48] hover:text-white"
        >About</a
      >
    </div>
  </div>
</header>
