---

---

<style lang="sass">
  #i_am_holding_buttons>a,img
    @apply w-[88px] h-[31px]
</style>

<section class="flex flex-col gap-6">
  <h1>~ Buttons ~</h1>
  <div
    id="i_am_holding_buttons"
    class="flex flex-row flex-wrap justify-center gap-1"
  >
    <a href="https://nootsponge.com" title="NootSponge"
      ><img src="/img/button.gif" alt="" class="w-[88px] h-[31px]" /></a
    >
    <a
      href="https://freeplay.floof.company"
      title="Freeeeeeeeeeeeeeeeeeeeeeeeee"
    >
      <img src="https://freeplay.floof.company/assets/buttons/free.gif" />
    </a>
    <a
      href="https://www.mozilla.org/en-US/firefox/"
      title="Firefox - Take back the web"
      ><img src="/buttons/firefox.png" alt="Firefox" /></a
    >
    <a href="https://fediverse.info" title="Join the Fediverse!"
      ><img src="/buttons/fediverse.gif" alt="Fediverse" /></a
    >
    <a href="https://ublockorigin.com/" title="uBlock Origin now!"
      ><img src="/buttons/ublock.png" alt="uBlock Origin" /></a
    >
    <a href="https://www.debian.org/" title="Powered by Debian"
      ><img src="https://www.debian.org/logos/button-k2.png" alt="Debian" /></a
    >
    <a href="https://bitwarden.com/" title="Bitwarden"
      ><img src="/buttons/bitwarden.gif" alt="Bitwarden" /></a
    >
    <a href="https://apple.com/mac" title="Made with Macintosh"
      ><img src="/buttons/macmade-wht.gif" alt="Macintosh" /></a
    >
    <img src="https://88x31.kate.pet/no_fkn_thanks.gif" height="31" />
    <img src="/buttons/sucks.gif" alt="Sucks" />
    <a href="https://code.visualstudio.com/" title="VSCode"
      ><img src="/buttons/vscbutton.gif" alt="VSCode" /></a
    >
    <img src="/buttons/webpassion.gif" alt="Web design" />
    <a href="https://cyber.dabamos.de/88x31/index.html" title="88x31"
      ><img src="https://cyber.dabamos.de/88x31/88x31.gif" alt="88x31" /></a
    >
    <iframe
      src="//incr.easrng.net/badge?key=nootsponge"
      style="background: url(//incr.easrng.net/bg.gif)"
      title="increment badge"
      width="88"
      height="31"></iframe>
    <img src="https://88x31.kate.pet/twopaws.png" height="31" />
    <img src="https://88x31.kate.pet/aperture_labs.jpg" height="31" />
    <a href="https://en.wikipedia.org/wiki/Source_(game_engine)"
      ><img
        src="https://88x31.kate.pet/source-poweredby-orange.png"
        height="31"
      /></a
    >
    <a href="https://88x31.kate.pet/"
      ><img src="https://88x31.kate.pet/0_88x31.kate.pet.png" height="31" /></a
    >
    <img src="https://88x31.kate.pet/gothtml.png" height="31" />
    <a href="https://en.wikipedia.org/wiki/Cyberdog"
      ><img src="https://88x31.kate.pet/cyberdog.gif" height="31" /></a
    >
    <a href="https://astro.build" title="Built with Astro!" class="!w-[120px]"
      ><img
        class="!w-[120px]"
        src="https://astro.badg.es/v2/built-with-astro/tiny.svg"
        alt="Astro"
      /></a
    >
  </div>
</section>
