---

---

<style lang="sass"></style>

<section>
  <h1 class="pb-6">~ Webrings ~</h1>
  <div class="flex flex-col gap-6">
    <div class="flex flex-col gap-2">
      <h2>
        <a class="underline hover:text-gold" href="https://fediring.net/"
          >fediring</a
        >
      </h2>
      <div class="flex flex-row justify-center gap-3">
        <a
          class="bg-purple-700 p-2 rounded-full border border-white transition-all hover:-translate-x-1 hover:-translate-y-1 hover:shadow-[4px_4px_white] outline-none"
          href="https://fediring.net/previous?host=nootsponge.com">prev</a
        >
        <a
          class="bg-purple-700 p-2 rounded-full border border-white transition-all hover:-translate-x-1 hover:-translate-y-1 hover:shadow-[4px_4px_white] outline-none"
          href="https://fediring.net/random">random</a
        >
        <a
          class="bg-purple-700 p-2 rounded-full border border-white transition-all hover:-translate-x-1 hover:-translate-y-1 hover:shadow-[4px_4px_white] outline-none"
          href="https://fediring.net/next?host=nootsponge.com">next</a
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2>
        <a class="underline hover:text-gold" href="https://hotlinewebring.club/"
          >hotline</a
        >
      </h2>
      <div class="flex flex-row justify-center gap-3">
        <a
          class="bg-purple-700 p-2 rounded-full border border-white transition-all hover:-translate-x-1 hover:-translate-y-1 hover:shadow-[4px_4px_white] outline-none"
          href="https://hotlinewebring.club/nootsponge/previous">prev</a
        >
        <a
          class="bg-purple-700 p-2 rounded-full border border-white transition-all hover:-translate-x-1 hover:-translate-y-1 hover:shadow-[4px_4px_white] outline-none"
          href="https://hotlinewebring.club/nootsponge/next">next</a
        >
      </div>
    </div>
  </div>
</section>
