---
---

<style lang="sass">
  *
    margin: 0
    padding: 0

  section
    padding-bottom: 2rem

  .rings-hodler
    display: flex
    align-items: center
    justify-content: center
    gap: 1.5rem

    h2
      text-decoration: underline
      font-size: 1.2rem
      padding-bottom: 1rem

    .links
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center
      gap: 0.5rem

    .webring-btn
      min-width: 2rem
      font-weight: light
      font-size: 1.2rem
      background-color: #541E57
      border-radius: 99px
      padding: 0.5rem 1rem
      transition: all 0.2s ease-in-out

      &:hover
        background-color: #F2F2F2
        color: #541E57
        box-shadow: 0px 5px 20px #000000
</style>

<section class="scroll">
  <h1 class="glow">ring ring ring ring ring ring ring banana phone</h1>
  <div class="rings-hodler">
    <div>
      <h2 class="glow"><a href="https://fediring.net/">fediring</a></h2>
      <div class="links">
        <a
          href="https://fediring.net/previous?host=nootsponge.com"
          class="webring-btn">prev</a
        >
        <a href="https://fediring.net/random" class="webring-btn">random</a>
        <a
          href="https://fediring.net/next?host=nootsponge.com"
          class="webring-btn">next</a
        >
      </div>
    </div>
    <div>
      <h2 class="glow"><a href="https://hotlinewebring.club/">hotline</a></h2>
      <div class="links">
        <a
          href="https://hotlinewebring.club/nootsponge/previous"
          class="webring-btn">prev</a
        >
        <a
          href="https://hotlinewebring.club/nootsponge/next"
          class="webring-btn">next</a
        >
      </div>
    </div>
  </div>
</section>
