body {
  display: block;
  background-color: #242027;
}

@media only screen and (max-width: 768px) {
  #root {
    margin: auto;
    width: 95%;
  }
}

@media only screen and (min-width: 768px) {
  #root {
    margin: auto;
    width: 50%;
  }
}

ul, ol {
  text-align: left;
}

ul {
  margin: 0 3em;
}

ol {
  margin: 0 4em;
}

.app {
  text-align: center;
  font-family: 'Consolas', Courier, monospace;
  color: #daa141;
}

img {
  margin-top: 3em;
  width: 200px;
  height: 200px;
}

.beeg {
  font-size: xx-large;
  margin-top: 0.5em;
  display: inherit;
}

.no-margin {
  margin: 0 !important;
}

.smol {
  margin-bottom: 1em;
  display: inherit;
}

a {
  color: #daa141;
}

td {
  width: 25%;
}

.end {
  margin-bottom: 2em;
}