---
const { title } = Astro.props;
import "normalize.css/normalize.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <link
      rel="icon"
      type="image/png"
      href="/img/ren-headshot-transparent.png"
    /> -->
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#6045CC" />
    <meta
      name="description"
      content="NootSponge is a 20 year old college student and software developer."
    />
    <meta name="og:title" content={title} />
    <meta
      name="og:description"
      content="NootSponge is a 20 year old college student and software developer."
    />
    <meta name="og:image" content=`https://nootsponge.com/img/beach.webp` />
    <meta name="og:locale" content="en_US" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
