---
const { title } = Astro.props;
import "modern-normalize/modern-normalize.css";
// import "../styles/global.sass";
import "/MonaspaceNeonVarVF[wght,wdth,slnt].woff2";
---

<style is:global>
  html {
    scrollbar-color: theme(colors.slate.500) theme(colors.slate.900);
    scrollbar-width: thin;
    background-color: theme(colors.gray.950);
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#6045CC" />
    <meta
      name="description"
      content="NootSponge is a 20 year old college student and software developer."
    />
    <meta name="og:title" content={title} />
    <meta
      name="og:description"
      content="NootSponge is a 20 year old college student and software developer."
    />
    <meta name="og:image" content=`https://nootsponge.com/img/beach.webp` />
    <meta name="og:locale" content="en_US" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
